{% extends 'base.html' %}
{% block title %}index page{% endblock title %}
{% block content %}
<h1>Hello World!</h1>
<div class="row row-cols-1 row-cols-md-3 ">

      {% for i in meals %}
      <div class="col">
      <div class="card">
        <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.idMeal}}</h5>
          <p class="card-text">{{i.strMeal}}</p>
        </div>
      </div>
    </div>
      {% endfor %}
</div>
{% endblock content %}
